<div style="background-color:rgb(29, 83, 133); color:rgb(243, 248, 253);padding:10px;">
    <h2>Info</h2>
    <div style="color:white; padding:10px;">
        <p>Modo: {{MODE}}</p>
        <p>URL de base de datos: {{DATABASEURL}}</p>
        <p>Puerto: {{PORT}}</p>
        <p>Host: {{HOST}}</p>
        <p>Persistencia para carrito, productos y mensajes: {{PERSISTENCIA}}</p>
        <p>Persistencia para usuarios: {{PERSISTENCIAUSUARIOS}}</p>
        <p>Tiempo de expiración de sesión: {{TIEMPOEXPIR}}</p>
        <p>Nodemailer: email de administrador: {{ADMINMAIL}}</p>
        <p>Twilio: whatsapp de administrador: {{ADMINWHATSAPP}}</p>
        <p>Twilio: número de Sandbox: {{NUMSANDBOX}}</p>
        
    </div>
</div>
